.channelNavbar__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow: auto; */
}

.channelNavbar__topConatainer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 6px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all 100ms ease-in;
}

.channelNavbar__topConatainer:hover {
  background-color: #36393f;
}

.channelNavbar__heading {
  color: white;
  font-weight: 600;
}

.channelNavbar__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.channelNavbar__btn i {
  color: #ddd;
}

.channelNavbar__middleConatainer {
  flex-grow: 1;
  padding: 20px 2px 10px;
  overflow: auto;
  overflow-x: hidden;
}

.channelNavbar__bottomConatainer {
  background-color: #292b2f;
  padding: 8px 2px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channelNavbar__user {
  display: flex;
}

.channelNavbar__avatar {
  width: 35px;
  border-radius: 100px;
  margin: 0 10px 0 0;
}

.channelNavbar__userInfo {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  color: #ddd;
}

.channelNavbar__bio {
  font-weight: 400;
  color: #ccc;
  font-size: 0.8rem;
}
.channelNavbar__icons {
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.channelNavbar__icons .icon {
  /* margin: 7px 5px; */
  font-size: 1.4rem;
  color: #d7d8d9;
  cursor: pointer;
}

.channelNavbar__bottomContainerLine {
  border: none;
  border-top: 0.1px solid rgb(58, 58, 58);
}

.channelNavbar__bottomConatainer1 {
  background-color: #292b2f;
  padding: 10px 5px 5px 5px;
}

.channelNavbar__vc {
  display: flex;
  justify-content: space-between;
}

.channelNavbar__vcConnected {
  color: #4fd65e;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
}

.channelNavbar__vcOptions {
  display: flex;
}

.channelNavbar__btns {
  flex-grow: 1;
  background-color: #36393f;
  border: none;
  outline: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 3px 0;
  color: #b9bbbe;
  font-weight: 600;
  cursor: pointer;
}

.channelNavbar__btns:hover {
  background-color: #545557;
}

.channelNavbar__btns svg {
  margin: 2px 5px;
}

.channel__name {
  position: relative;
  left: 30px;
  font-size: 0.95rem;
  padding: 0 10px;
}
