.serverIcon__container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: black;
  cursor: pointer;
  transition: all 50ms ease-in;
  object-fit: contain;
  background-size: contain;
  margin: 10px 0;
}

.serverIcon__img {
  width: 50px;
}

.serverIcon__container:hover {
  border-radius: 17px;
}

.serverIcon__serverIconBorder {
  position: absolute;
  left: -10px;
  width: 4px;
  height: 10px;
  background-color: wheat;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
  transition: all 100ms ease-in;
}

.tooltip:hover .serverIcon__serverIconBorder {
  height: 30px;
}
