.iconsmb {
  background-color: #b9bbbe;
  color: #40444b;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  font-size: 25px;
}
.iconsmb:hover {
  background-color: #dcddde;
}
.gift {
  position: relative;
  bottom: -3px;
  height: 30px;
}
.sticker {
  transform: rotateX(180deg);
}
.emoji {
  position: relative;
  right: 3px;
}

.messageBox__form {
  width: 100%;
}
