.serverNavbar__container {
  height: 100vh;
  width: 50px;
  padding: 1px 10px;
  background-color: #202225;
}

.serverIcon__homeContainer {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #36393f;
  cursor: pointer;
  transition: all 100ms ease-in;
  margin: 10px 0;
  font-size: 35px;
  font-weight: 200;
  color: rgb(59, 165, 93);
}

.serverIcon__home {
  width: 30px;
}

.serverNavbar__line {
  margin: 10px;
  border: none;
  border-top: 2px solid #ffffff0f;
}

.serverIcon__homeContainer:hover {
  background-color: #5865f2;
  border-radius: 17px;
  color: white;
}

.serverIcon__nav:hover {
  background-color: rgb(59, 165, 93);
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.384);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 12px;

  /* Position the tooltip */
  position: absolute;
  left: 70px;
  z-index: 1;
  font-size: 1rem;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tt-border {
  visibility: hidden;
  position: absolute;
  left: -10px;
  width: 4px;
  height: 30px;
  background-color: wheat;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0;
}

.tooltip:hover .tt-border {
  visibility: visible;
}
